:root {
    --primary-color: #bfcba8;
    --secondary-color: #5b8a72;
    --tertiary-color:#464f41;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head, .foot, .head-nav {
    justify-content: space-around;
    text-align: center;
    height: 150px;
    background-color: var(--primary-color);
}


h1 {
    font-size: 100px;
    color: var(--secondary-color);
}

.button {
    border: 3px solid black;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 15px;
    background-color: var(--tertiary-color);
}

label {
    font-size: 25px;

}

.input, .found-books {
   border: 8px solid var(--tertiary-color);
   background-color: var(--secondary-color);
   text-align: center;
}

.input {
    background-image: url("../images/bookworm.jpg");
    background-size: 1100px 500px;
}

/* placeholder for list */
.books-list {
    border: 4px solid var(--tertiary-color);
    background-color: var(--primary-color);
    /* margin: 10%; */
    text-align: center;
}

.column{
    border:2px solid var(--tertiary-color);
}

#mapid { height: 180px; }




.map {
    left: 33.3333%;
    width: 66.6666%;
    top: 0;
    bottom: 0;
    margin: 30px;
  }
  .heading {
    background: #fff;
    border-bottom: 1px solid #eee;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
  }
  a {
    color: #404040;
    text-decoration: none;
  }

  a:hover {
    color: #101010;
  }

  /* The page is split between map and sidebar - the sidebar gets 1/3, map
  gets 2/3 of the page. You can adjust this to your personal liking. */
  .sidebar {
    position: absolute;
    width: 33.3333%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
  }