:root {
    --primary-color: #bfcba8;
    --secondary-color: #5b8a72;
    --tertiary-color:#464f41;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head, .foot, .head-nav {
    justify-content: space-around;
    text-align: center;
    height: 150px;
    background-color: var(--primary-color);
}


h1 {
    font-size: 100px;
    color: var(--secondary-color);
}

.button {
    border: 3px solid black;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 15px;
    background-color: var(--tertiary-color);
}

label {
    font-size: 20px;
}

.input-form {
   border: solid var(--tertiary-color);
   background-color: var(--secondary-color);
   height: 700px;
}

